<phpunit
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="phpunit.php"
	>
	<testsuites>
		<testsuite name="The Cure">
			<file>test/CollectionTest.php</file>
			<file>test/CollectionIterableTest.php</file>
			<file>test/CollectionModelTest.php</file>
			<file>test/IdentityMapTest.php</file>
			<file>test/ModelTest.php</file>
			<file>test/MapperTest.php</file>
			<file>test/MapperArrayTest.php</file>
			<file>test/MapperMongoTest.php</file>
			<file>test/MapperContainerTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">classes</directory>		
		</whitelist>
	</filter>
	<logging>
		<log
			type="coverage-html"
			target="test/coverage"
			charset="UTF-8"
			yui="true"
			highlight="true"
			lowUpperBound="35"
			highLowerBound="70"
			/>
		<log
			type="coverage-clover"
			target="test/coverage.xml"
			/>	 
		<log
			type="junit"
			target="test/junit.xml"
			logIncompleteSkipped="false"
			/>
	</logging>
</phpunit>