<phpunit
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="test/unit/bootstrap.php"
	>
	<testsuites>
		<testsuite name="The Cure">
			<directory suffix=".php">test/unit/classes/Gignite/TheCure/Specs</directory>
			<directory suffix=".php">test/unit/classes/Gignite/TheCure/Acceptance</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">classes</directory>		
		</whitelist>
	</filter>
	<logging>
		<log
			type="coverage-html"
			target="test/coverage"
			charset="UTF-8"
			yui="true"
			highlight="true"
			lowUpperBound="35"
			highLowerBound="70"
			/>
		<log
			type="coverage-clover"
			target="test/coverage.xml"
			/>	 
		<log
			type="junit"
			target="test/junit.xml"
			logIncompleteSkipped="false"
			/>
	</logging>
</phpunit>